<ion-view title="Menu">
    <ion-content padding="true" class="has-header">
      <ion-list>

       <ion-item class = "item item-input item-select " ng-repeat="item in order">
          <div class = "input-label">
            {{item.name}}
          </div>
          <div class = "input-label">
              {{item.price | currency}}
          </div>

          <select ng-model="item.quantities" ng-options="v for v in quantities.values"></select>
        </ion-item>

      </ion-list>
      <div class="spacer" style="width: 300px; height: 61px;"></div>

      <button class="button button-full button-positive" on-tap="checkout()">
        Checkout
      </button>
    </ion-content>

</ion-view>
